__pycache__/
.env
.DS_Store
.aider*
StyleTTS2/pretrained/StyleTTS2-LibriTTS/*.pth
StyleTTS2/pretrained/StyleTTS2-LJSpeech/*.pth
StyleTTS2/pretrained/StyleTTS2-LJSpeech/tensorboard
StyleTTS2/pretrained/StyleTTS2-LJSpeech/*.log
StyleTTS2/Utils/ASR/*.pth
Models/
*.pt
*.flac
*.wav
*.txt
*.png