# Auto detect text files and perform LF normalization
* text=auto
# Track model checkpoints with Git LFS
StyleTTS2/pretrained/**/*.pth filter=lfs diff=lfs merge=lfs -text
StyleTTS2/Utils/**/*.t7 filter=lfs diff=lfs merge=lfs -text
StyleTTS2/Utils/**/*.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.t7 filter=lfs diff=lfs merge=lfs -text
